@charset "UTF-8";
/*\*/

/* ------------------------------------
 * Over Ride
 * ------------------------------------ */

article {
	width: 100%;
	padding-bottom: 0;
}

@media screen and (max-width: 1000px) {
	article {
		padding: 0;
	}
}
main h2 {
	font-size: 360%;
}
.contentBox .inner {
	width: 1000px;
	margin: 0 auto;
	zoom:1;
}

@media screen and (max-width: 1000px) {
	.contentBox .inner {
		width: 96%;
	}
}

@media screen and (max-width: 767px) {
	.contentBox .inner {
		width: 100%;
	}
}


.list li h3 {
	margin: 0;
}
.list li h3 a {
	font-weight: bold;
	text-decoration: none;
}

/* ------------------------------------
 * HOME
 * ------------------------------------ */

#topContents {
    display: block;
    overflow: hidden;
	text-align: center;
	background: url(../img/home/site_name_pc.png) no-repeat left top, url(../img/base/bg_main.png) repeat left top;
}

@media screen and (max-width: 1200px) {
	#topContents {
		background: url(../img/base/bg_main.png) repeat left top;
	}
}

@media screen and (max-width: 767px) {
	#topContents {
		margin-left: 0;
		background-size: 65px 65px;
		-webkit-background-size: 65px 65px;
		-moz-background-size: 65px 65px;
	}
}

.more {
	text-align: right;
}
.more a {
	display: inline-block;
	margin-top: 1%;
	color: #b5b0de;
	text-decoration: none;
	font-size: 83%;
}
.more a:after {
	content: "";
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-left: 10px;
	background: url(../img/parts/mark_more.png);
	background-size: contain;
}

@media screen and (max-width: 767px) {
	.more a {
		margin-top: 3%;
	}
}

/* ------------------------------------
 * Main Visual
 * ------------------------------------ */

#mainvisual.inner {
    display: block;
    overflow: hidden;
}
.slick-list,
.slick-track,
.slide-box,
.main_photo {
	height: 100%;
}
#mainvisual .slider {
  	width:100%;
    height: 100%;
	overflow: hidden;
	text-align: center;
}
#mainvisual .slick-slide img {
 	max-width: 100%;
	width: auto !important;
	width: 100%;
	max-height: 800px;
	margin: 0 auto;
}
#mainvisual .slick-dots {
	bottom: 5px;
}
#mainvisual .slick-dots li button:before {
	content: '●';
	color: #d9b4e2;
}
#mainvisual .slick-dots li.slick-active button:before {
	color: #f796c8;
}


/* ------------------------------------
 * Whats New
 * ------------------------------------ */

#topics {
	position: relative;
	width: 1100px;
	margin: 20px auto 0;
	padding: 0.8em 1em 0.8em 2em;
	background-color: rgba(171,117,145,0.3);
	background-image: url(../img/parts/ico_topic.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 10px 10px;
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	border: solid 1px #ffffff;
	line-height: 1;
}
.ticker {
	position: relative;
	height: 100%;
	overflow: hidden;
	zoom:1;
}
.ticker li {
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 83%;
	display: none;
}
.ticker li a {
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 1100px) {
	#topics {
		width: 100%;
		margin: 0 auto;
		border: none;
		border-top: solid 1px #ffffff;
		border-bottom: solid 1px #ffffff;
	}
}

/* ------------------------------------
 * Banner Top
 * ------------------------------------ */

#bnrArea_top {
	padding: 40px 100px 50px;
 	background: url(../img/home/bg_banner.gif) repeat-x left bottom;
	background-size: auto 50%;
	-webkit-background-size: auto 50%;
	-moz-background-size: auto 50%;
}
#bnrArea_top .slick-slide {
	padding: 0 10px;
}
#bnrArea_top .slick-slide img {
	margin: 0 auto;
	max-width: 100%;
	width:  auto !important;
	width: 100%;
}
#bnrArea_top .slick-prev,
#bnrArea_top .slick-next {
    width: 40px;
    height: 40px;
}
#bnrArea_top .slick-prev {
    left: -40px;
}
#bnrArea_top .slick-prev:before,
#bnrArea_top .slick-next:before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 40px;
}
#bnrArea_top .slick-prev:before {
	background: url(../img/parts/arrow_topSlider_prev.png);
	background-size:contain;
}
#bnrArea_top .slick-next:before {
	background: url(../img/parts/arrow_topSlider_next.png);
	background-size:contain;
}
#bnrArea_top .slick-next {
    right: -40px;
}
#bnrArea_top .slick-dots li.slick-active button:before {
	color: #a81d0b;
}
#bnrArea_top .slick-dots li button:before {
	content: '●';
	color: #d9b4e2;
}
#bnrArea_top .slick-dots li.slick-active button:before {
	color: #f796c8;
}

@media screen and (max-width: 767px) {
	#bnrArea_top {
		padding: 4% 10% 8%;
	}
	#bnrArea_top .slick-prev,
	#bnrArea_top .slick-next {
		width: 30px;
		height: 30px;
	}
	#bnrArea_top .slick-prev {
		left: -26px;
	}
	#bnrArea_top .slick-next {
		right: -26px;
	}
	#bnrArea_top .slick-dots {
	    bottom: -24px;
	}
	#bnrArea_top .slick-prev:before,
	#bnrArea_top .slick-next:before {
		width:30px;
		height:30px;
	}
}

/* ------------------------------------
 * Information
 * ------------------------------------ */

#info {
	padding-top: 3%;
	zoom:1;
	overflow: hidden;
	background:  url(../img/home/bg_info.png) no-repeat left bottom;
}
#info section#news {
	padding-bottom: 0;
}
#info .inner .unit01 {
	width: 730px;
	float: left;
}
#info .inner .unit02 {
	width: 270px;
	float: left;
}
#info .box {
	position: relative;
	width: 100%;
	padding: 5px 30px 5px 100px;
	border: solid 1px #f0e0f4;
	background-color: rgba(255, 255, 255, 0.8);
}
#info .box h2 {
	position: absolute;
	left: -60px;
	top: 20px;
}
@media screen and (max-width: 1100px) {
	#info .box h2 {
		left: 10px;
		top: -40px;
	}
	#info .box {
		padding: 20px 30px 30px 30px;
	}
}

@media screen and (max-width: 1000px) {
	#info .inner .unit01 {
		width: 80%;
	}
	#info .inner .unit02 {
		width: 20%;
	}
}
@media screen and (max-width: 767px) {
	#info {
		padding-top: 8%;
		background: none;
	}
	#info .inner .unit01,
	#info .inner .unit02 {
		width: 100%;
		float: none;
	}
	#info .inner .unit01 {
		background:  url(../img/home/bg_info.png) no-repeat left bottom;
		background-size: 300px auto;
		-webkit-background-size: 300px auto;
		-moz-background-size: 300px auto;
	}
	#info .box {
		padding: 20px 10px 10px 10px;
	}
	#info .box h2 {
		position: inherit;
		margin: -50px 0 0;
		left: 0;
		top: 0;
	}
}

/* ------------------------------------
 * Aside
 * ------------------------------------ */

aside {
	overflow: hidden;
}
.sideBnr {
	width: 100%;
	padding-top: 45px;
	text-align: center;
	overflow: hidden;
	zoom:1;
}
.sideBnr img {
	width: 202px;
	margin-bottom: 10px;
	border: solid 1px #f0e0f4;
}
.sideBnr li:last-child img {
	margin-bottom: 0;
}
.widget {
	padding: 20px;
}

@media screen and (max-width: 1000px) {
	.sideBnr img {
		width: 90%;
		margin: 0 auto 2%;
	}
}

@media screen and (max-width: 767px) {
	.sideBnr {
		padding: 8% 3%;
		background: url(../img/base/bg_main.png) repeat left top;
		background-size: 65px 65px;
		-webkit-background-size: 65px 65px;
		-moz-background-size: 65px 65px;
	}
	.sideBnr li {
		width: 50%;
		float: left;
	}
	.widget {
		padding: 5% 0;
		width: 88%;
		margin: 0 auto;
		-webkit-overflow-scrolling:touch;
	}
}

/* ------------------------------------
 * SCHEDULE
 * ------------------------------------ */

#schedule {
	background-color: #fbf5ff;
}
#schedule .box {
	margin-top: 30px;
	padding: 0 20px 20px;
	text-align: center;
	background: url(../img/home/bg_schedule.png) repeat left top;
	border: solid 2px #fff;
}
#schedule .box h2 {
	margin-top: -30px;
}
#schedule .cal_sp {
	display: none;
}

@media screen and (max-width: 767px) {
	#schedule .box h2 {
		margin: -30px 0 0 0;
	}
	#schedule .cal_pc {
		display: none;
	}
	#schedule .cal_sp {
		display: block;
		overflow: hidden;
		width: 100%;
		-webkit-overflow-scrolling:touch;
	}
	#schedule iframe {
		margin-top: 2em;
	}
}

/* ------------------------------------
 * MOVIE
 * ------------------------------------ */

#movie {
	background:  url(../img/home/bg_movie.png) no-repeat right bottom;
}
#movie .movieBox {
	zoom:1;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
#movie .movieBox li {
	width: 50%;
	margin-bottom: 2%;
	float: left;
}

@media screen and (max-width: 767px) {
	#movie {
		background-size: 300px auto;
		-webkit-background-size: 300px auto;
		-moz-background-size: 300px auto;
	}
	#movie .movieBox li {
		width: 100%;
		margin-left: 0;
		float: none;
	}
}


/* ------------------------------------
 * BOTTOM BANNER
 * ------------------------------------ */

#bnrArea_bottom {
	background: url(../img/base/bg_main.png) repeat left top;
}
#bnrArea_bottom ul {
	zoom:1;
	overflow: hidden;
}
#bnrArea_bottom ul li {
	width: 33%;
	margin-bottom: 2%;
	float: left;
	text-align: center;
}
#bnrArea_bottom ul li a {
	display: block;
	width: 96%;
	margin: 0 auto;
}
#bnrArea_bottom ul li img {
	max-width: 100%;
	width:  auto !important;
	width: 100%;
}

@media screen and (max-width: 767px) {
	#bnrArea_bottom ul li {
		width: 50%;
	}
	#bnrArea_bottom {
		background-size: 65px 65px;
		-webkit-background-size: 65px 65px;
		-moz-background-size: 65px 65px;
	}
}

/*  SNS */
nav.sns {
	padding-top: 50px;
    font-size: 75%;
    background-color: #343033;
    color: #b5b0de;
}
nav.sns h5 {
	font-size: 124%;
	margin-bottom: 10px;
	letter-spacing: 0.5em;
}
nav.sns ul li {
	padding: 1% 2% 4%;
	display: inline-block;
}
nav.sns ul li a {
	display: block;
	padding-top: 12px;
	width:60px;
	height: 60px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
nav.sns ul li.sns_facebook a {
	background-color: #4c6db4;
}
nav.sns ul li.sns_twitter a {
	background-color: #06b0ff;
}
nav.sns ul li.sns_mixi a {
	background-color: #d1ad5a;
}
nav.sns ul li.sns_google a {
	background-color: #e43f3f;
}

@media screen and (max-width: 767px) {
	nav.sns ul li a {
		padding-top: 9px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
	}
	nav.sns ul li a img {
		width: 24px;
	}
}



/*--- clearfix ------------------*/

.slider:after,
.ticker ul:after,
#info .inner:after,
#info .sideBnr:after,
#movie .movieBox:after {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    content: ".";
    visibility: hidden;
}
